@charset "utf-8";
/* ------------------------------------------------------------
Basic Stylesheet (for Firefox Chrome Opera Safari IE8+)

project :xidi
version	:1.0.0
 author	:yanshaojing < 569363234@qq.com >
  class :*
   page :brand
------------------------------------------------------------ */

/* 品牌商品
------------------------------------------------------------ */
.brand-info{
	border-bottom:1px solid #DDD;
}
.brand-logo{
	border-right:1px dotted #D2D6D6;
}
.brand-intr{
	margin-left:-1px;
	width:460px;
	border-left:1px dotted #D2D6D6;
}
.brand-rel{
	width:230px;
}
.brand-rel .icon-heart{ /* 基于上面的 common.css */
	margin-bottom:4px;
}
.brand-story-module{
	font-size:14px;
	line-height:28px;
}

/* dialog
------------------------------------------------------------ */
.plugs-dialog{
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:999;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
.plugs-main{
	display:none;
	position:absolute;
	top:65%;
	left:50%;
	margin:-174px 0 0 -224px;
	padding:24px;
	width:400px;
	height:300px;
	background-color:#fff;
	border:1px solid #ddd;
	box-shadow:0 0 8px rgba(0, 0, 0, .5);
	opacity:0;
	filter:alpha(opacity:0);
}