*{
	margin:0px;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
.list{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow:row wrap;
    /*width:100%;*/
}
.list li{
	/*flex:1;*/
	width:30%;
	border:1px solid red;
	height: 200px;
	/*justify-content:space-around;*/
	margin-bottom: 10px;
}
