@charset "utf-8";
/* ------------------------------------------------------------
Basic Stylesheet (for Firefox Chrome Opera Safari IE8+)

project : xidi
version	: 1.0.0
 author	: yanshaojing < 569363234@qq.com >
  class : *
   page : all
------------------------------------------------------------ */

/* Common Modules
------------------------------------------------------------ */
html, body{
	line-height:22px;
	font-family:'Avenir', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
	background-image:url(about:blank);
	background-attachment:fixed;
}
html, a{
	color:#333;
}
.table,
.table-row,
.table-cell{
	vertical-align:middle;
}
.table{
	display:table;
}
.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
	*float:left;
}
.circle{
	overflow:hidden;
	border-radius:50%;
	vertical-align:top;
}
.ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.vl-middle{
	display:inline-block;
	width:1px;
	height:158px;
	margin-left:-1px;
	line-height:0;
	*zoom:1;
	*display:inline;
	vertical-align:middle;
}
.anim-all{
	-webkit-transition:ease-out .25s;
	   -moz-transition:ease-out .25s;
		 -o-transition:ease-out .25s;
		    transition:ease-out .25s;
}
.sprites{
	background:url(../../images/1.0.0/sprites.png);
	background-repeat:no-repeat;
}
.op0{
	opacity:0;
	filter:alpha(opacity:0);
}
.op3{
	opacity:0.3;
	filter:alpha(opacity:30);
}
.op5{
	opacity:0.5;
	filter:alpha(opacity:50);
}
.op7{
	opacity:0.7;
	filter:alpha(opacity:70);
}

/* Position
------------------------------------------------------------ */
.clearfix:after{
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	line-height:0;
	content:'\20';
}
.clearfix{
	*display:table;
	*zoom:1;
}
.cb{
	clear:both;
	height:0;
	overflow:hidden;
}
.cl{
	clear:left;
}
.cr{
	clear:right;
}
.fl{
	display:inline;
	float:left;
}
.fr{
	display:inline;
	float:right;
}
.tl{
	text-align:left;
}
.tc{
	text-align:center;
}
.tr{
	text-align:right;
}
.ti1{
	text-indent:1em;
}
.ti2{
	text-indent:2em;
}
.vt{
	vertical-align:top;
}
.vm{
	vertical-align:middle;
}
.vb{
	vertical-align:bottom;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.fixed{
	position:fixed;
}
.pointer{
	cursor:pointer;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.hidden{
	position:relative;
	overflow:hidden;
}
.inline-block{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/* Fonts Colors
------------------------------------------------------------ */
.f12,
.f13{
	line-height:22px;
}
.f16,
.f18{
	/*font-weight:700;*/
}
.f12{
	font-size:12px;
}
.f13{
	font-size:13px;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
.f18{
	font-size:18px;
}
.f20{
	font-size:20px;
}
.f21{
	font-size:21px;
}
.f24{
	font-size:24px;
}
.f30{
	font-size:30px;
}
.fn{
	font-weight:500;
}
.lh18{
	line-height:18px;
}
.lh22{
	line-height:22px;
}
.lh24{
	line-height:24px;
}
.lh26{
	line-height:26px;
}
.lh28{
	line-height:28px;
}
.lh30{
	line-height:30px;
}
.lh32{
	line-height:32px;
}
.lh36{
	line-height:36px;
}
.lh38{
	line-height:38px;
}
.unl{
	text-decoration:underline;
}
.no-unl,
.no-unl:hover{
	text-decoration:none;
}
.simsun{
	font-family:'Simsun';
}
.justify{
	text-align:justify;
	text-justify:inter-ideograph;
}
.color-white{
	color:#FFF;
}
.color-blue{
	color:#638DB4;
}
.color-green{
	color:#50B1A2;
}
.color-red{
	color:#E03223;
}
.color-ff4{
	color:#FF4E4E;
}
.color-333{
	color:#333;
}
.color-666{
	color:#666;
}
.color-888{
	color:#888;
}
.color-999{
	color:#999;
}
.color-5a{
	color:#5A5A5A;
}
.color-c3{
	color:#C3C3C3;
}
.color-db{
	color:#DBDBDB;
}

/* Margin
------------------------------------------------------------ */
.m12{
	margin:12px;
}
.m24{
	margin:24px;
}
.m36{
	margin:36px;
}
.m48{
	margin:48px;
}
.m60{
	margin:60px;
}

.mtb12{
	margin-top:12px;
	margin-bottom:12px;
}
.mtb24{
	margin-top:24px;
	margin-bottom:24px;
}
.mtb36{
	margin-top:36px;
	margin-bottom:36px;
}
.mtb48{
	margin-top:48px;
	margin-bottom:48px;
}
.mtb60{
	margin-top:60px;
	margin-bottom:60px;
}

.mlr12{
	margin-left:12px;
	margin-right:12px;
}
.mlr24{
	margin-left:24px;
	margin-right:24px;
}
.mlr36{
	margin-left:36px;
	margin-right:36px;
}
.mlr48{
	margin-left:48px;
	margin-right:48px;
}
.mlr60{
	margin-left:60px;
	margin-right:60px;
}

.mb6{
	margin-bottom:6px;
}
.mt12{
	margin-top:12px;
}
.mt24{
	margin-top:24px;
}
.mt36{
	margin-top:36px;
}
.mt48{
	margin-top:48px;
}
.mt60{
	margin-top:60px;
}

.mr12{
	margin-right:12px;
}
.mr24{
	margin-right:24px;
}
.mr36{
	margin-right:36px;
}
.mr48{
	margin-right:48px;
}
.mr60{
	margin-right:60px;
}

.mb12{
	margin-bottom:12px;
}
.mb24{
	margin-bottom:24px;
}
.mb36{
	margin-bottom:36px;
}
.mb48{
	margin-bottom:48px;
}
.mb60{
	margin-bottom:60px;
}

.ml12{
	margin-left:12px;
}
.ml24{
	margin-left:24px;
}
.ml36{
	margin-left:36px;
}
.ml48{
	margin-left:48px;
}
.ml60{
	margin-left:60px;
}

/* Padding
------------------------------------------------------------ */

.p12{
	padding:12px;
}
.p24{
	padding:24px;
}
.p36{
	padding:36px;
}
.p48{
	padding:48px;
}
.p60{
	padding:60px;
}

.pt5{
	padding-top:5px;
}
.ptb12{
	padding-top:12px;
	padding-bottom:12px;
}
.ptb24{
	padding-top:24px;
	padding-bottom:24px;
}
.ptb36{
	padding-top:36px;
	padding-bottom:36px;
}
.ptb48{
	padding-top:48px;
	padding-bottom:48px;
}
.ptb60{
	padding-top:60px;
	padding-bottom:60px;
}

.plr12{
	padding-left:12px;
	padding-right:12px;
}
.plr24{
	padding-left:24px;
	padding-right:24px;
}
.plr36{
	padding-left:36px;
	padding-right:36px;
}
.plr48{
	padding-left:48px;
	padding-right:48px;
}
.plr60{
	padding-left:60px;
	padding-right:60px;
}

.pt12{
	padding-top:12px;
}
.pt24{
	padding-top:24px;
}
.pt36{
	padding-top:36px;
}
.pt48{
	padding-top:48px;
}
.pt60{
	padding-top:60px;
}

.pr12{
	padding-right:12px;
}
.pr24{
	padding-right:24px;
}
.pr36{
	padding-right:36px;
}
.pr48{
	padding-right:48px;
}
.pr60{
	padding-right:60px;
}

.pb12{
	padding-bottom:12px;
}
.pb24{
	padding-bottom:24px;
}
.pb36{
	padding-bottom:36px;
}
.pb48{
	padding-bottom:48px;
}
.pb60{
	padding-bottom:60px;
}

.pl12{
	padding-left:12px;
}
.pl24{
	padding-left:24px;
}
.pl36{
	padding-left:36px;
}
.pl48{
	padding-left:48px;
}
.pl60{
	padding-left:60px;
}

/* Various Widths
------------------------------------------------------------ */
.wAll{
	width:100%;
}
.w75{
	width:75px;
}
.w90{
	width:90px;
}
.w132{
	width:132px;
}
.w150{
	width:150px;
}
.w210{
	width:210px;
}
.w570{
	width:570px;
}
.w625{
	width:625px;
}

/* Website Icons
------------------------------------------------------------ */
/* tip */
.triangle:after,
.triangle:before{
	position:absolute;
	width:0;
	height:0;
	overflow:hidden;
	border-style:solid;
	border-color:transparent;
	content:'.';
}
.triangle:after{
	z-index:2;
}
.triangle:before{
	z-index:1;
}

/* 提示类图标 */
.icon-success-36,
.icon-warning-36,
.icon-error-36,
.icon-wait-36,

.icon-success-32,
.icon-warning-33,
.icon-error-32,
.icon-wait-32,
.icon-leave-32,

.icon-success-21,
.icon-warning-21,
.icon-error-21,
.icon-wait-21,

.icon-success-14,
.icon-warning-14,
.icon-error-14,
.icon-wait-14{
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
}

.icon-success-36,
.icon-warning-36,
.icon-error-36,
.icon-wait-36{
	width:36px;
	height:36px;
}
.icon-success-36{
	background-position:0 -274px;
}
.icon-warning-36{
	background-position:-40px -274px;
}
.icon-error-36{
	background-position:-80px -274px;
}
.icon-wait-36{
	background-position:-120px -274px;
}

.icon-success-32,
.icon-warning-32,
.icon-error-32,
.icon-wait-32,
.icon-leave-32{
	width:32px;
	height:32px;
}
.icon-success-32{
	background-position:0 -320px;
}
.icon-warning-32{
	background-position:-40px -320px;
}
.icon-error-32{
	background-position:-80px -320px;
}
.icon-wait-32{
	background-position:-120px -320px;
}
.icon-leave-32{
	background-position:-108px -105px;
}

.icon-success-21,
.icon-warning-21,
.icon-error-21,
.icon-wait-21{
	width:21px;
	height:21px;
}
.icon-success-21{
	background-position:0 -362px;
}
.icon-warning-21{
	background-position:-40px -362px;
}
.icon-error-21{
	background-position:-80px -362px;
}
.icon-wait-21{
	background-position:-120px -362px;
}

.icon-success-14,
.icon-warning-14,
.icon-error-14,
.icon-wait-14{
	width:14px;
	height:14px;
}
.icon-success-14{
	background-position:0 -393px;
}
.icon-warning-14{
	background-position:-40px -393px;
}
.icon-error-14{
	background-position:-80px -393px;
}
.icon-wait-14{
	background-position:-120px -393px;
}

/* 操作类图标 */
.icon-empty,
.icon-delete,
.icon-edit,
.icon-close,
.icon-remove,
.icon-setting{
	display:inline-block;
	overflow:hidden;
	font:0/0 'Arial';
	cursor:pointer;
}
.icon-empty{ /* 清空 */	
	width:11px;
	height:14px;	
	background-position:-121px -55px;	
}
.icon-empty:hover{
	background-position:-141px -55px;
}
.icon-empty:active{
	background-position:-141px -80px;
}

.icon-edit{ /* 编辑 */
	width:12px;
	height:13px;
	background-position:0 -482px;
}
.icon-edit:hover{
	background-position:-22px -482px;
}
.icon-edit:active{
	background-position:-44px -482px;
}

.icon-delete{ /* 删除 */
	width:12px;
	height:12px;
	background-position:0 -80px;
}
.icon-delete:hover{
	background-position:-31px -80px;
}
.icon-delete:active{
	background-position:-60px -80px;
}

.icon-remove{
	width:12px;
	height:11px;
	background-position:-154px -193px;
}

.icon-close{ /* 关闭 */
	width:14px;
	height:14px;
	background-position:-70px -193px;
}
.icon-close:hover{
	background-position:-100px -193px;
}
.icon-close:active{
	background-position:-130px -193px;
}

.icon-setting{ /* 设置 */	
	width:16px;
	height:15px;	
	background-position:-80px -80px;	
}
.icon-setting:hover{
	background-position:-100px -80px;
}
.icon-setting:active{
	background-position:-120px -80px;
}

.proOper-box,
.icon-favorite,
.icon-unfavorite,
.icon-sina,
.icon-qq,
.icon-weixin{
	display:inline-block;
	width:30px;
	height:30px;
	overflow:hidden;
	opacity:0.6;
}

.proOper-box:hover,
.icon-unfavorite:hover,
.icon-sina:hover,
.icon-qq:hover,
.icon-weixin:hover{
	opacity:1;
}

.proOper-box{ /* 圆圈 */
	background-position:-40px -670px;
}

.icon-sina{
	background-position:-40px -630px;
}

.icon-qq{
	background-position:-80px -630px;
}

.icon-weixin{
	background-position:-120px -630px;
}

.icon-heart{
	display:inline-block;
	width:16px;
	height:15px;
	overflow:hidden;
	background-position:-130px -576px;
	vertical-align:middle;
}
.icon-favorite{ /* 喜欢 */
	opacity:1;
	background-position:0 -670px;
}
.icon-unfavorite{ /* 不喜欢 */
	background-position:0 -630px;
}

.icon-prev,
.icon-next{
	display:inline-block;
	width:32px;
	height:32px;
	overflow:hidden;
	opacity:.7;
	filter:alpha(opacity:70);
}
.icon-prev{
	background-position:0 -534px;
}
.icon-next{
	background-position:-42px -534px;
}
.icon-prev-disabled{
	background-position:-84px -534px;
	cursor:not-allowed;
}
.icon-next-disabled{
	background-position:-126px -534px;
	cursor:not-allowed;
}
.icon-prev:hover,
.icon-next:hover{
	opacity:1;
	filter:alpha(opacity:100);
}

.icon-add-button,
.icon-edit-button{
	display:inline-block;
	width:39px;
	height:39px;
	overflow:hidden;
}
.icon-add-button{
	background-position:-40px -224px;
}
.icon-edit-button{
	background-position:-100px -224px;

}

.icon-cart-small,
.icon-cart-big{
	display:inline-block;
	width:30px;
	height:30px;
	overflow:hidden;
	vertical-align:middle;
}
/*.icon-cart-small{
	width:14px;
	height:16px;
	background-position:-66px -482px;
}
.icon-cart-small:hover{
	background-position:-90px -482px;
}
.icon-cart-big{
	width:19px;
	height:19px;
	background-position:-114px -482px;
}
.icon-cart-big:hover{
	background-position:-143px -482px;
}*/
.icon-cart-small{
	background-position:-106px -735px;
}
.icon-cart-small:hover{
	background-position:-143px -735px;
}
.icon-cart-big{
	background-position:-106px -705px;
}
.icon-cart-big:hover{
	background-position:-143px -705px;
}

.icon-minus,
.icon-plus{
	display:inline-block;
	width:20px;
	height:20px;
	overflow:hidden;
	border:1px solid #FFF;
	font:0/0 'Arial';
	cursor:pointer;
}
.icon-minus{
	background-position:0 -576px;
}
.icon-plus{
	background-position:-20px -576px;
}
.icon-minus:hover,
.icon-plus:hover{
	margin:-1px;
	border:2px solid #33CC99;
}
.icon-minus:hover{
	background-position:-40px -576px;
}
.icon-plus:hover{
	background-position:-60px -576px;
}
.icon-minus:acitve
.icon-plus:acitve{
	border-color:#37DCA5;
}
.icon-minus:acitve{
	background-position:-80px -576px;
}
.icon-plus:acitve{
	background-position:-100px -576px;
}

/* 通知类图标 */
.icon-bell,
.icon-phone,
.icon-email{
	display:inline-block;
	overflow:hidden;
	font:0/0 'Arial';
}
.icon-bell{
	width:20px;
	height:22px;
	background-position:0 -417px;
}
.icon-phone{
	width:16px;
	height:27px;
	background-position:-30px -417px;
}
.icon-email{
	width:26px;
	height:17px;
	background-position:-56px -417px;
}
.icon-mail{
	display:inline-block;
	width:18px;
	height:14px;
	overflow:hidden;
	vertical-align:middle;
	background-position:-90px -55px;
}

.icon-date{
	position:absolute;
	right:6px;
	top:50%;
	z-index:1;
	margin-top:-8px;
	width:16px;
	height:17px;
	background-position:-136px -454px;
}

/* Website Buttons
------------------------------------------------------------ */
.button-light-50,
.button-default-50{ /* size 50*24  */
	width:48px;
	height:22px;
	line-height:22px;
	font-size:12px;
}
.button-light-80,
.button-default-80,
.button-light-auto,
.button-default-auto{
	height:30px;
	line-height:30px;
	font-size:12px;
}
.button-light-80,
.button-default-80{ /* size 80*32  */
	width:78px;
}
.button-light-auto,
.button-default-auto{ /* size 宽度自动 高度：32  */
	padding:0 11px;
	white-space:nowrap;
}
.button-light-100,
.button-light-130,
.button-light-146,
.button-light-231,
.button-default-100,
.button-default-130,
.button-default-146,
.button-default-231{
	height:34px;
	line-height:34px;	
	font-size:13px;
}
.button-light-100,
.button-default-100{ /* size 100*36  */
	width:98px;
}
.button-light-130,
.button-default-130{ /* size 130*36  */
	width:128px;
}
.button-light-146,
.button-default-146{ /* size 146*36  */
	width:144px;
}
.button-light-231,
.button-default-231{ /* size 231*36  */
	width:229px;	
}
.button-light-256,
.button-light-292,
.button-default-256,
.button-default-292{
	height:46px;
	line-height:46px;	
	font-size:16px;
}
.button-light-256,
.button-default-256{ /* size 256*48  */
	width:254px;
}
.button-light-292,
.button-default-292{ /* size 291*48  */
	width:289px;
}
.button-default-50,
.button-default-80,
.button-default-100,
.button-default-130,
.button-default-146,
.button-default-231,
.button-default-256,
.button-default-292,
.button-default-auto{
	display:inline-block;
	background-color:#FFF;
	border:1px solid #DDD;
	border-radius:2px;
	text-align:center;
	color:#333;
}
.button-default-50:hover,
.button-default-80:hover,
.button-default-100:hover,
.button-default-130:hover,
.button-default-146:hover,
.button-default-231:hover,
.button-default-256:hover,
.button-default-292:hover,
.button-default-auto:hover{
	border-color:#33CC99;
	text-decoration:none;
}
.button-default-50:active,
.button-default-80:active,
.button-default-100:active,
.button-default-130:active,
.button-default-146:active,
.button-default-231:active,
.button-default-256:active,
.button-default-292:active,
.button-default-auto:hover{
	border-color:#37DCA5;
	color:#37DCA5;
	text-decoration:none;
}
.button-light-50,
.button-light-80,
.button-light-100,
.button-light-130,
.button-light-146,
.button-light-231,
.button-light-256,
.button-light-292,
.button-light-auto{
	display:inline-block;
	background-color:#50B1A2;
	border:1px solid #50B1A2;
	border-radius:2px;
	text-align:center;
	color:#FFF;
}
.button-light-50:hover,
.button-light-80:hover,
.button-light-100:hover,
.button-light-130:hover,
.button-light-146:hover,
.button-light-231:hover,
.button-light-256:hover,
.button-light-292:hover,
.button-light-auto:hover{	
	background-color:#33CC99;
	border:1px solid #33CC99;
	text-decoration:none;
}
.button-light-50:active,
.button-light-80:active,
.button-light-100:active,
.button-light-130:active,
.button-light-146:active,
.button-light-231:active,
.button-light-256:active,
.button-light-292:active,
.button-light-auto:active{	
	background-color:#37DCA5;
	border:1px solid #37DCA5;
	text-decoration:none;
}

.button-default-disabled,
.button-light-disabled{
	opacity:.5;
	filter:alpha(opacity:50);
	cursor:not-allowed;
}
.button-default-disabled,
.button-default-disabled:hover,
.button-default-disabled:active{
	background-color:#FFF;
	border-color:#DDD;
	color:#333;
}
.button-light-disabled,
.button-light-disabled:hover,
.button-light-disabled:active{
	background-color:#50B1A2;
	border-color:#50B1A2;
}

.button-notFund,
.button-notFund:hover,
.button-notFund:active{
	background-color:#999;
	border-color:#999;
	cursor:not-allowed;
}

.cart-after-box{
	position:absolute;
	left:0;
	top:100%;
	z-index:99;
	background-color:#33CC99;
}
.cart-success-big,
.cart-success-small{
	position:absolute;
	left:50%;
	top:50%;
	overflow:hidden;
}
.cart-success-small{
	margin:-4px 0 0 -6px;
	width:12px;
	height:9px;
	background-position:0 -511px;
}
.cart-success-big{
	margin:-6px 0 0 -8px;
	width:17px;
	height:12px;
	background-position:-22px -511px;
}

/* Page
------------------------------------------------------------ */
.page{
	padding-top:36px;
	font-size:0;
}
.page-button,
.page-elps{
	margin:0 6px;
	height:30px;
	overflow:hidden;
	vertical-align:top;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#888;
}
.page-button{
	width:30px;
	border:1px solid #FFF;
}
.page-elps{
	vertical-align:top;
}
.page-button:hover{
	border-color:#DDD;
	text-decoration:none;
	color:#333;
}
.page-button:active,
.page-current,
.page-current:hover,
.page-current:active{
	background-color:#333;
	border-color:#333;
	text-decoration:none;
	color:#FFF;
}
.page-current{
	cursor:default;
}
.page-prev,
.page-next{
	border-color:#DBDBDB;
	font:14px/30px 'Simsun';
}
.page-prev:hover,
.page-prev:active,
.page-next:hover,
.page-next:active{
	background-color:#333;
	border-color:#333;
	color:#FFF;
}
.page-disabled,
.page-disabled:hover,
.page-disabled:active{
	background-color:#FFF;
	border-color:#DBDBDB;
	color:#888;
	opacity:0.5;
	filter:alpha(opacity:50);
	cursor:not-allowed;
}

.pageGoto{
	padding:0 6px;
	height:32px;
	font-size:12px;
	line-height:32px;
}
.pageGoto .page-button,
.pageGoto .page-button:hover,
.pageGoto .page-button:active{
	width:48px;
	background-color:#FFF;
	border-color:#B6B6B6;
}
.pageNum{
	margin:8px 0;
	width:28px;
	height:14px;
	border:none;
	line-height:14px;
	text-align:center;
}
.pageBtn{
	width:20px;
	height:30px;
	background-position:-45px -151px;
	border:none;
	cursor:pointer;
}
.pageBtn:hover{
	background-position:-75px -151px;
}
.pageBtn:active{
	background-position:-105px -151px;
}

/* iPads (landscape) */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.page-prev,
	.page-prev:hover,
	.page-prev:active,
	.page-next,
	.page-next:hover,
	.page-next:active  {
		background-color: #FFF;
		border-color:#DBDBDB;
		color: #888;
	}
}
/* iPads (portrait) */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.page-prev,
	.page-prev:hover,
	.page-prev:active,
	.page-next,
	.page-next:hover,
	.page-next:active  {
		background-color: #FFF;
		border-color:#DBDBDB;
		color: #888;
	}
}


/* Other Common Modules
------------------------------------------------------------ */
.price{
	color: #50b1a2;
	font:16px 'Avenir', 'Arial', 'sans-serif';
	margin-bottom: 5px;
}
.prd-name{
	height:25px;
	overflow:hidden;
	line-height:25px;
	font-size:13px;
}

/* Form Elements And Diy Plugs
------------------------------------------------------------ */
.textBox{
	padding:10px;
	width:122px;
	height:14px;
	border:1px solid #D5D5D5;
}
.textBox:hover{
	border-color:#C3C3C3;
}
.textError,
.textBox:focus{
	padding:9px;
	border-width:2px;
}
.textBox:focus{
	border-color:#08B5A3;
}
.textError,
.textBox:focus.textError{
	border-color:#EB6C68;
}

.checkbox,
.uncheckbox,
.checkbox-disabled,
.unradio,
.radio{
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	cursor:pointer;
}

.checkbox,
.uncheckbox,
.checkbox-disabled{
	width:18px;
	height:18px;
}
.checkbox{
	background-position:-28px -454px;
}
.uncheckbox{
	background-position:0 -454px;
}
.checkbox-disabled{
	background-position:-56px -454px;
	cursor:not-allowed;
}

.unradio,
.radio{
	width:16px;
	height:16px;
}
.radio{
	background-position:-110px -454px;
}
.unradio{
	background-position:-84px -454px;
}

.error-warning{
	position:absolute;
	z-index:8;
	padding:5px 10px;
	background-color:#FFF;
	border:2px solid #EB6C68;
	line-height:22px;
	white-space:nowrap;
}
.error-warning:after,
.error-warning:before{
	position:absolute;
	width:0;
	height:0;
	overflow:hidden;
	border:5px solid transparent;
	content:'.';
}
.error-warning:after{
	left:10px;
	top:-10px;
	z-index:1;
	border-bottom-color:#EB6C68;
}
.error-warning:before{
	left:10px;
	top:-8px;
	z-index:2;
	border-bottom-color:#FFF;
}

.plugs-select{
	position:relative;
	z-index:9;
	padding:0;
	width:142px;
	height:34px;
	background-color:#FFF;
	border:1px solid #D5D5D5;
	cursor:pointer;
}
.plugs-select input{
	position:absolute;
	left:0;
	top:0;
	width:100px;
	height:30px;
}
.plugs-select-hd{
	position:relative;
	margin:6px 10px;
	line-height:22px;
}
.plugs-select-title{
}
.plugs-select-tip{
	position:absolute;
	right:0;
	top:9px;
	z-index:0;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#A0A0A0;
}
.plugs-select-tip .plugs-select-tip{
	right:-4px;
	top:-6px;
	z-index:2;
	border-width:4px;
	border-top-color:#FFF;
}
.plugs-select-bd{
	display:none;
	position:absolute;
	top:100%;
	left:-1px;
	right:-1px;
	width:100%;
	max-height:204px;
	overflow-y:auto;
	background-color:#FFF;
	border:1px solid #D5D5D5;
}
.plugs-select-option{
	padding:6px 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.plugs-select-select,
.plugs-select-option:hover{
	background-color:#F4FBFA;
}


.plugs-select-open .plugs-select-tip{
	top:4px;
	border-top-color:transparent;
	border-bottom-color:#A0A0A0;
}
.plugs-select-open .plugs-select-tip .plugs-select-tip{
	top:-3px;
	border-bottom-color:#FFF;
}
.plugs-select-open .plugs-select-bd{
	display:block;
}

/* dialog
------------------------------------------------------------ */
.plugs-dialog,
.plugs-lightbox{
	display:none;
	display:block;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:990;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
.plugs-section,
.plugs-lightbox-section{
	display:none;
	display:block;
	position:absolute;
	top:65%;
	left:50%;
	z-index:999;
	padding:36px;
	background-color:#fff;
	box-shadow:0 0 8px rgba(0, 0, 0, .5);
	opacity:0;
	opacity:1;
	filter:alpha(opacity:100);
}
.plugs-header{
}
.plugs-body{
}
.plugs-title{
	font-size:18px;
}
.plugs-close{
	display:inline-block;
	position:absolute;
	right:24px;
	top:24px;
	width:14px;
	height:14px;
	background:url(../../images/1.0.0/sprites.png) -70px -193px no-repeat;
	overflow:hidden;
	font:0/0 'Arial';
	cursor:pointer;
}
.plugs-close:hover{
	background-position:-100px -193px;
}
.plugs-close:active{
	background-position:-130px -193px;
}

/* 大图预览（弹出框形式）
------------------------------------------------------------ */
.plugs-lightbox{
}
.plugs-lightbox-section{
	overflow:hidden;
}
.plugs-lightbox-body,
.plugs-lightbox-list{
	position:relative;
	z-index:1;
	width:741px;
	height:556px;
	overflow:hidden;
}
.plugs-lightbox-body img{
	max-width:741px;
	max-height:556px;
	/*vertical-align:top;*/
}

.plugs-lightbox-body{
	display:table;
}
.plugs-lightbox-list{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.plugs-lightbox-prev,
.plugs-lightbox-next{
	position:absolute;	
}
.plugs-lightbox-prev,
.plugs-lightbox-next{
	top:50%;
	z-index:9;
	margin-top:-18px;
	width:36px;
	height:36px;
	overflow:hidden;
	font:16px/36px 'Simsun';
	text-align:center;
	color:#FFF;
	cursor:pointer;
	background-color:rgba(0, 0, 0, .5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
.plugs-lightbox-prev{
	left:0;
}
.plugs-lightbox-next{
	right:0;
}
.plugs-lightbox-disabled{
	cursor:default;
	background-color:rgba(0, 0, 0, .3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#44000000,endColorstr=#44000000);
}
.plugs-lightbox-header h2{
	float:left;
	padding-bottom:24px;
	height:20px;
	font-size:16px;
	font-weight:bold;
}
.plugs-lightbox-close{
	float:right;
	overflow:hidden;
	font:0/0 'Arial';
	cursor:pointer;
	width:14px;
	height:14px;
	background: url(../../images/1.0.0/sprites.png) -70px -193px no-repeat;
}
.plugs-lightbox-close:hover{
	background-position:-100px -193px;
}
.plugs-lightbox-close:active{
	background-position:-130px -193px;
}