@charset "utf-8";
/* ------------------------------------------------------------
Basic Stylesheet (for Firefox Chrome Opera Safari IE8+)

project :xidi
version	:1.0.0
 author	:yanshaojing < 569363234@qq.com >
  class :*
   page :category
------------------------------------------------------------ */

/* 类目页
------------------------------------------------------------ */